body{
    background-color: #F9F9F9;
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.imagem{
    display: flex;
    justify-content: center;
    max-width: fit-content;
    height: 250px;
    -webkit-filter: drop-shadow(0px 0px 20px #DCDCDC);
}

img{
    border-radius: 10%;
}

.texto{
    margin-top: 24px;
    font-family: 'roboto', serif;
}

.texto_img{
    text-align: left;
    margin-left: 32px;
    max-width: 240px;
    font-family: 'roboto', serif; 
}

.título{
    color: #185E85;
    font-size: 25px;
    text-align: center;
    padding: 16px;
}

.container_imagem{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_texto{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    width: 700px;
}

.fundo_footer{
    background-color: #504b4b;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.conteudo_footer_titu{
    color: white;
    margin-left: 30px;
    text-align: left;
}

.conteudo_footer_titu2{
    color: white;
    text-align: left;
}

.conteudo_footer{
    color: rgb(207, 203, 203);
    margin-left: 30px;
    text-align: left;
    font-size: 12px;
}
.conteudo_footer2{
    color: rgb(207, 203, 203);
    text-align: left;
    font-size: 12px;
}

.alinhamento{
    display: block;
}

.subir{
    bottom: 30px;
    right: 30px;
    max-height: 20px;
    max-width: 20px;
    border: 10px red solid;
    display: flex;
    align-items: right;
    
}