body{
    background-color: #F9F9F9;
}

.imagem{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 60%;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.texto{
    max-width: 850px;
    text-align: left;
    margin-left: 100px;
    padding: 5px;
}

.título{
    color: #185E85;
    font-size: 25px;
    text-align: center;
    padding: 16px;
}