/* Paleta de Cores */
:root{
	--color-background: #f6f6f8;
	--color-backgroundcard: #fffdfd12;
	--color-box-shadow: #5d6ff380;
	--color-number: #c5d7ff;
	--color-title: #2953ad;
	--color-text: #000000;
	--color-button: #f4f8fa;
	--color-intro: #f5f8f9;
	--color-white: #ffffff;
	/* Paleta de Cores do Modo Dark */
	--color-backgrounddm: #151d2a;
	--color-white2: #fafafa;
	--color-box-shadow1: #0e131b;
	--color-box-shadow2: #1c2739;
	--color-box-shadow3: #e6e6e6;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: top;
	flex-wrap: wrap;
	background: var(--color-background);
	min-height: 100vh;
	font-family: 'roboto', serif;
}

.container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items:flex-start;
	flex-wrap: wrap;
	margin: 10px 0;
}
.container .card {
	position: relative;
	width: 300px;
	height: 400px;
	background: var(--color-backgroundcard);
	margin: 20px;
	box-shadow: 0 15px 35px var(--color-box-shadow);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: normal;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.2s;
}

.container .card .content h2{
    position: fixed;
    top: 12px;
    right: 3px;
    font-size: 3em;
    color: var(--color-number);
    pointer-events: none;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .imgBx {
	position: relative;
	width: 150px;
	height: 150px;
	overflow:visible;
}

.container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .card .content .contentBx h3 {
	color: var(--color-title);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 16px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
}

.container .card .sci {
	position: absolute;
	bottom: 30px;
	display: flex;
}

.container .card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}

.container .card .sci li a {
	color: var(--color-text);
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

button {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-text);
	position: inherit;
	justify-content: left;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10% 5px 10%;
}

.container_texto{ 
    display: block;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}


.logo{
    cursor: pointer;
	width: 7%;
}

.site_title {
    display: inline-block;
    padding: 0px 5px;
    color: var(--color-title);
	justify-content: center;
}


button{
    padding: 9px 25px;
    background-color: var(--color-button);
    border-radius:50px;
	border: 2px solid #000000;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: var(--color-title);
    color: var(--color-white);
	transform: translateY(-3px);
    transition: 0.5s;
}

.introdução{
	background-color: var(--color-background);
	color: var(--color-intro);
}

.container_imagem{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
	background-color: var(--color-background);
}

.container_texto{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 700px;
    font-family: 'roboto', serif;
}

.texto_img{
    max-width: 850px;
    text-align: justify;
    max-width: 300px;
    margin-left: 32px;
    padding: 5px;
	color: var(--color-text);

}

.título{
    font-size: 22px;
    text-align: center;
    padding: 16px;
    color: var(--color-text);
	background-color: var(--color-background);
}

.imagem{
    display: flex;
    justify-content: center;
    max-width: fit-content;
    height: 400px;
    
}

.texto{
	padding: 7px 15px 10px 15px;
	display: block;
    font-family: 'roboto', serif;
	font-size: 18px;
	font-weight: 500;
	color: var(--color-text);
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	line-height: 1.5em;
}

hr{
	width: 85%;
	display: block;
	margin: auto;
}


.modal{
	background-color: rgba(0, 0, 0, 0.459);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vw;
	display: none;
	z-index: 2;
}

.conteudo-modal{
	margin: 0 auto;
	margin-top: 3%;
	max-width: 600px;
	background-color: var(--color-white);
	border-radius: 8px;
	z-index: 2;
}

.cabecalho-modal{
	padding: 1px 8px;
	display: flex;
	justify-content: space-between;
	border-bottom: solid var(--color-white) 1px;
	position: relative;
	z-index: 2;
}

.cabecalho-modal .cabecalho-titulo-modal{
	font-weight: bold;
	color: var(--color-title);
	padding: 20px 25px;
	position: relative;
	z-index: 2;
	font-family: 'roboto', serif;
}

.cabecalho-modal .cabecalho-modal-fechar{
	padding: 20px 10px;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.corpo-modal{
	padding: 1px 8px 8px 8px;
	font-family: 'roboto', serif;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	z-index: 2;
}

.rodape-modal{
	border-top: solid var(--color-white) 1px;
	padding: 8px;
	position: relative;
	z-index: 2;
}

.texto_qs{ 
    display: block;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
    margin-top: 10px;
    width: 540px;
    font-family: 'roboto', serif;
}

.btn-outline-sucess{
	margin-left: 20px;
	display: block;
	margin: auto;
}


/* Botão Dark*/

.toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 147px;
    border-radius: 4remx;
    background: var(--color-background);
	border: 2px solid #000000;
	border-radius:50px;
	align-items: center;
}

.toggle i {
    width: 100%;
    line-height: 2.81rem;
    text-align: center;
    font-size: 1.56rem;
    z-index: 1;
}

.toggle .ball {
    position: absolute;
    width: 2.43rem;
    height: 2.4rem;
    border-radius: 80%;
    transition: 0.4s;
    background: #151d2a;
    margin-left: 1rem;
    display: flex;
}

#toggle{
    display: none;
}

.toggle .bxs-sun {
    color: var(--color-white2);
}

.toggle .bx-moon {
    color: var(--color-backgrounddm);
}
/*
-- Dark Mode --
*/

.dark {
    background-color: var(--color-backgrounddm);
    color: var(--color-white);
}

.dark .toggle {
    background: var(--color-backgrounddm);
}

.dark .toggle .bx-sun {
    color: var(--color-white2);
}

.dark .toggle .bxs-moon {
    color: var(--color-backgrounddm);
}

.dark .toggle .ball{
    background: #fafafa;
    display: flex;
    transform:translateX(70px);
}

.dark .texto{
	color: var(--color-white);
}

.dark .container .card .sci li a{
	color: var(--color-white);
}

.dark .btn-outline-sucess{
	background-color: var(--color-backgrounddm);
	color: var(--color-white);
	border-color: var(--color-white);
}

.dark .texto_qs{
	color: var(--color-white);
}

.dark .conteudo-modal{
	background-color: var(--color-backgrounddm);
}

.dark .btn-outline-sucess:hover{
	background-color: var(--color-title);
	color: var(--color-white);
}

/* RESPONSIVO */
@media screen and (max-width: 950px){
	.container .card .content {
		transform: translateY(-20px);
	}

	.container .card .sci li {
		transform: translateY(0px);
		opacity: 1;
	}
}

@media screen and (max-width: 1285px) {
    
    img{
        width: fit-content;
    }
	.texto_qs{
		width: fit-content;
	}
	
}

@media screen and (max-width: 750px){

	.container_texto{
		width: 650px;
		text-align: justify;
	}

}

@media screen and (max-width: 700px){

	.container_texto{
		width: 600px;
		text-align: justify;
	}

	.container .card .content {
		transform: translateY(-20px);
	}

	.container .card .sci li {
		transform: translateY(0px);
		opacity: 1;
	}

}

@media screen and (max-width: 650px){

	.container_texto{
		width: 500px;
	}

}

@media screen and (max-width: 550px){

	.toggle {
        width: 128px;
        }

	.dark .toggle .ball{
		background: #fafafa;
		display: flex;
		transform:translateX(145%);
	}

	.container_texto{
		width: 400px;
	}

}
@media screen and (max-width:500px){
	.container .card .content {
		transform: translateY(-20px);
	}

	.container .card .sci li {
		transform: translateY(0px);
		opacity: 1;
	}
	
}

@media screen and (max-width:450px){
	.container_texto{
		width: 350px;
	}
}

@media screen and (max-width:400px){
	.container_texto{
		width: 300px;
	}
	.toggle .ball{
		margin-left: 0.75rem;
	}

	.dark .toggle .ball{
		background: #fafafa;
		display: flex;
		transform:translateX(60px);
	}

}