/* Paleda de Cores */
:root{
    --color-white:  #ECF4FA;
    --color-black:  #000000;
    --color-azul:  #2953ad;
    --color-azul2:  #a0bdfc;
    --color-blue3:  #2293c7;
    --color-blue4:  #247BA0;
    --color-gray:   #64a5ca;
    --color-footer: #504b4b;
    --color-fontebranca: #ffffff;
    --color-fontebranca2: #cfcbcb;
}

/* Pagina toda */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    height: 100vh;
    /* font-family: 'roboto'; */
}

/* Inicio Nav Bar */
.header, .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    display: flex;
    width: 100%; 
    position: fixed;
    left: 0px;
    right: 0px; 
    top: 0px;
    overflow: hidden;

    background: var(--color-azul);
    height: 3.5em;
    justify-content: right; 
    padding: 0 10% 0;
}
.menu{
    font-size: 18px;
    gap: 3em;
}
.menu a{
    text-decoration: none;
    color: var(--color-fontebranca);
    transition: 1s;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}
.menu a:hover{
    background-color: var(--color-azul2);
    transition: background-color 1.5s;
    padding: 10px;
    border-radius: 10px;
}
/* Fim da Nav Bar */

/* Menu Lateral */  

nav.menu-lateral{
    width: 62px;
    height: 100%;
    background-color: var(--color-azul);
    padding: 40px 0 40px 1%;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
}

nav.menu-lateral:hover{
    width: 220px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
    margin-top: -15px;
}

.btn-expandir > i {
    color: var(--color-fontebranca);
    font-size: 20px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
    padding: 40px 0 40px 1%;
}

ul li.item-menu{
    transition: .4s;
}

ul li.item-menu:hover{
    background: var(--color-azul2);
} 

ul li.item-menu a{
    color: var(--color-fontebranca);
    text-decoration: none;
    font-size: 16px;
    padding: 5px 1%;
    display: flex;
    margin-bottom: 8px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 40px;
}

ul li.item-menu a .icon > i{
    font-size: 20px;
    margin-left: 8px;
}

.carousel{
    margin-top: 75px;
    /* width: 90%; */ 
}   

a{
    width: 200px;
}

/* Fim do menu lateral */ 
                                        
/* Início Conteudos site  */
.content{
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 67vh;
}

.imagem{
    display: flex;
    justify-content: center;
    max-width: fit-content;
    height: 350px;
}

.texto_img{
    max-width: 850px;
    text-align: justify;
    max-width: 300px;
    margin-left: 32px;
    padding: 5px;
}

.título{
    margin-top: 32px;
    font-size: 22px;
    text-align: center;
    padding: 16px;
    color: var(--color-azul);
}

.givemespace{
    color: var(--color-fontebranca);
}

.container_imagem{
    background: transparent;
    border: none;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_texto{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 700px;
}
/*Fim Conteudos site  */

/* Início Rodapé */

.fundo_footer{
    background-color: var(--color-footer);
    padding: 30px;
    display: flex;
    justify-content: center;
}

.conteudo_footer_titu{
    color: var(--color-fontebranca);
    margin-left: 30px;
    text-align: left;
}

.conteudo_footer_titu2{
    color: var(--color-fontebranca);
    text-align: left;
}

.conteudo_footer{
    color: var(--color-fontebranca2);
    margin-left: 30px;
    text-align: left;
    font-size: 12px;
}

.conteudo_footer2{
    color: var(--color-fontebranca2);
    text-align: left;
    font-size: 12px;
}

.alinhamento{
    display: block;
}

.qrcode_footer{
   margin-left: 80px;
   margin-top: 5px;
   margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#espacamento_footer_qrcode{
    padding-top: 7px;
}

/* Final Rodapé */
.altura{
    padding: 20px 20px  20px;
}

/* Conteudo Site */
.conteudosite{
    margin-top: 64px;
}

.imagem_ferramentas{
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    max-height: 500px;
    text-align: center;
    display: block;
}

.separação{
    padding: 30px;
}

.metodologia{
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
    text-align: center;
    display: block;
    font-size: 30px;
    color: var(--color-fontebranca);
}

/* Conteudo Site */