/* Paleta de Cores */
:root{
    --color-white:  #ECF4FA;
    --color-black:  #000000;
    --color-azul:  #2953ad;
    --color-azul2:  #a0bdfc;
    --color-blue3:  #2293c7;
    --color-blue4:  #247BA0;
    --color-gray:   #64a5ca;
    --color-footer: #504b4b;
    --color-fontebranca: #ffffff;
    --color-fontebranca2: #cfcbcb;
}

/* Pagina toda */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    height: 100vh;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;

    width: 100%; 
    position: fixed;
    left: 0px;
    right: 0px; 
    top: 0px;
    overflow: hidden;

    background: var(--color-azul);
    height: 3.5em;
    justify-content: right; 
    padding: 0 0 0;
}

.botaomenu{
    margin-left: 22px;
}
.botaomenu > i {
    color: var(--color-fontebranca);
    font-size: 20px;
    cursor: pointer;
}
/* Fim da Nav Bar */

/* Menu Lateral */  

nav.menu-lateral{
    width: 62px;
    height: 100%;
    background-color: var(--color-azul);
    padding: 0px 0 0px 15px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
}

nav.menu-lateral:hover{
    width: 220px;
}

@media screen and (max-width: 1285px) {

    nav.menu-lateral.expandir {
        width: 220px;
        padding: 0px 0 0px 15px;
    }

    nav.menu-lateral{
        width: 0px;
        padding: 0px 0 0px 0px;
    }
    
}
.btn-expandir{
    width: 100%;
    padding-left: 10px;
    margin-top: -15px;
}

.btn-expandir > i {
    color: var(--color-fontebranca);
    font-size: 20px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
    padding: 55px 0 40px 1%;
}

ul li.item-menu{
    transition: .4s;
}

ul li.item-menu:hover{
    background: var(--color-azul2);
} 

ul li.item-menu a{
    color: var(--color-fontebranca);
    text-decoration: none;
    font-size: 16px;
    padding: 5px 1%;
    display: flex;
    margin-bottom: 8px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 40px;
}

ul li.item-menu a .icon > i{
    font-size: 20px;
    margin-left: 8px;
}

a{
    width: 200px;
}

/* Fim do menu lateral */ 
                                        
/* Início Conteudos site  */

.content{
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 67vh;
}

.imagem{
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 350px;

}

.imagem_menor{
    display: flex;
    justify-content: center;
    max-width: fit-content;
    height: 280px;
}
.texto_img{

    text-align: justify;
    max-width: 300px;
    margin-left: 32px;

}

.título{
    margin-top: 32px;
    font-size: 24px;
    text-align: center;
    padding: 16px;
    color: #2953ad;
}

.givemespace{
    color: var(--color-fontebranca);
}

.container_imagem{
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_texto{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 700px;
}
/*Fim Conteudos site  */

/* Início Rodapé */
#subir{
    text-decoration: none;
    color: var(--color-black) ;
    padding: 5px;
    position: fixed;
    right: -130px;
    bottom: 5px;    
}

span.icontopo{
    font-size: 40px;
}

.fundo_footer{
    background-color: var(--color-footer);
    padding: 30px;
    display: flex;
    justify-content: center;
}

.conteudo_footer_titu{
    color: var(--color-fontebranca);
    margin-left: 30px;
    text-align: left;
}

.conteudo_footer_titu2{
    color: var(--color-fontebranca);
    text-align: left;
}

.conteudo_footer{
    color: var(--color-fontebranca2);
    margin-left: 30px;
    text-align: left;
    font-size: 12px;
}

.conteudo_footer2{
    color: var(--color-fontebranca2);
    text-align: left;
    font-size: 12px;
}

.alinhamento{
    display: block;
}

.qrcode_footer{
   margin-left: 80px;
   margin-top: 5px;
   margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#espacamento_footer_qrcode{
    padding-top: 7px;
}

/* Final Rodapé */

.altura{
    padding: 20px 20px  20px;
}

/* Conteudo Site */

.conteudosite{
    margin-top: 64px;
}

.imagem_ferramenta{
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    max-height: 500px;
    text-align: center;
    display: block;
}

.imagem_ferramenta img{
    width: 700px;
    height: 150px;
    transition: 1s;
}

.imagem_ferramenta img:hover{
    width: 900px;
    height: 200px;
    transition: 1s;
}

.imagem_ferramentas{
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    max-height: 500px;
    /* width: 700px; */
    text-align: center;
    display: block;
    transition: 1s;
}

.imagem_ferramentas img{
    width: 700px;
    transition: 1s;
}

.imagem_ferramentas img:hover{
    width: 900px;
    transition: 1s;
}

.separação{
    padding: 30px;
}

.metodologia{
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
    text-align: center;
    display: block;
    font-size: 30px;
    color: var(--color-fontebranca);
}

/* Botões de exemplo */
.container{
    display: flex;
    flex-direction: row;
    width: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: static;
    padding: 10px 10px 10px 10px;
    line-height: 40px;
}

.slections{
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    
}

.slections a{
    align-items: center;
    justify-content: center;
    /* line-height: 40px; */
    padding: 15px 15px 15px 15px;
    background: var(--color-fontebranca);
    cursor: pointer;
    border: 2px solid var(--color-azul);
    border-radius: 20px;
    text-decoration: none;
    color: var(--color-azul);
}
.slections a:hover{
    background-color: var(--color-azul);
    border: 2px solid var(--color-azul);
}
.slections a:hover .txt{
    color: var(--color-fontebranca);
}
.slections a:hover .icones > i{
    color: var(--color-fontebranca);
}

.txt{
    margin-left: 5px;
    color: var(--color-azul);
}

.icones > i{
    font-size: 24px;
    color: var(--color-azul);
}

.container__kanban{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.kanban__button{
    width: 142px;
    height: auto;
    background: none;
    border-radius: 0.5rem;
    text-decoration: none;
    cursor: pointer;
}

/* Final Botões de exemplo */

/* Botões Questionário */
.botton {
    border-color: #3498db;
    border-radius: 3em;
    color: #ffffff;
    box-shadow: 0 0 40px 40px #2953ad inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    margin-top: 15px;
    width: 110px;
    height: 40px;
  }

  .botton:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    color: #000000;
  }

.question{
    font-weight: bold;
}

.answers{
    padding-bottom: 15px;
}

/*Fontes do site*/

.fontes_do_site{
    background-color:#ffffff;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.conteudo_fonte{
    color:#000000;
    margin-left: 30px;
    text-align: left;
}

.link_font{
    color: inherit;
}

.link_font:hover{
    color: #0099ff;
}


.givemespace{
    color: var(--color-fontebranca);
}

hr{
    width: 45%;
	display: block;
	margin: auto;
}

/* Final Botões Qeuestionário */

/* Conteudo Site */

/* Botão Dark*/

.toggle {
    cursor: pointer;
    position: relative;
    right: 10%;
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 80%;
    border-radius: 35px;
    background: linear-gradient(145deg, #e1e1e1, #fff);
    border: 0.5px solid #151d2a;

}

.toggle i {
    width: 50%;
    line-height: 45px;
    text-align: center;
    font-size: 30px;
    z-index: 1;
}

.toggle .ball {
    position: absolute;
    width: 39px;
    height: 38px;
    border-radius: 50%;
    transition: 0.4s;
    background: #151d2a;
    margin-left: 10px;
    margin-top: 2px;
}

#toggle{
    display: none;
}

.toggle .bxs-sun {
    color: #fafafa;
  /*   margin-left: 2.5px; */
}

.toggle .bx-moon {
    color: #151d2a;
    /* margin-left: 2px; */
}
/*
-- Dark Mode --
*/

.dark {
    background-color: #151d2a;
    color: #ffffff;
}

.dark .toggle {
    background: #151d2a;
}

.dark .toggle .bx-sun {
    color: #fafafa;
}

.dark .toggle .bxs-moon {
    color: #151d2a;
}

.dark .toggle .ball {
    background: #fafafa;
    transform: translateX(150%);
}

.dark .slections a{
    background-color: #000000;
}

.dark .fontes_do_site{
    background-color: #151d2a;
}

.dark .conteudo_fonte{
    color: #ffffff;
}
.dark #subir{
    color: var(--color-white);
}

/* RESPONSIVO */

@media screen and (max-width: 1285px) {
    
    img {
        flex-direction: row;
    }

    .container_texto {
        flex-direction: row;
        width: fit-content;
    }
    
    .metodologia{
        font-size: 22px;
    }
    
}

@media screen and (max-width: 550){
    
    .conteudo_footer, 
    .conteudo_footer2,
    .conteudo_footer_titu,
    .conteudo_footer_titu2,
    .fundo_footer,
    .qrcode_footer {
        flex-direction: row;
    }

}

/* Scroll - Página Ferramentas */
.scroll {
    text-align: center;
    padding-top: 4%;
}
.scroll a {
    position: relative;
    color: var(--color-white);
    text-decoration: none;
    padding: 10px 20px;
    background: var(--color-azul);
    display: inline-block;
}