/* Paleda de Cores */
:root{
    --color-white:  #ECF4FA;
    --color-black:  #000000;
    --color-blue1:  #185E85;
    --color-blue2:  #13293D;
    --color-blue3:  #2293c7;
    --color-blue4:  #247BA0;
    --color-back:   white;
    --color-gray:   #64a5ca;
}

/* Pagina toda */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    height: 100vh;
}
.header, .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    display: flex;
    
    position: fixed;
    width: 100%; 

    left: 0px;
    right: 0px; 
    top: 0px;

    background: rgb(38, 74, 153);
    /* box-shadow: 1px 1px 8px darkblue; */
    height: 4.5em;
    justify-content: right; 
    padding: 0 10% 0;
}
.menu{
    font-size: 18px;
    gap: 3em;
}
.menu a{
    text-decoration: none;
    color: white;
    transition: 1s;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}
.menu a:hover{
    background-color: rgb(160, 189, 252);
    transition: background-color 1.5s;
    padding: 10px;
    border-radius: 10px;
}
    /* fim da nav bar */

/* Menu Lateral */  

nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: rgb(38, 74, 153);
    padding: 40px 0 40px 1%; 
    /* box-shadow: 5px #202020; */

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
}

nav.menu-lateral:hover{
    width: 250px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
    margin-top: -15px;
}

.btn-expandir > i {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
    padding: 40px 0 40px 1%;
}

ul li.item-menu{
    transition: .4s;
}

ul li.item-menu:hover{
    background: rgb(160, 189, 252);
} 

ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 40px;
}

ul li.item-menu a .icon > i{
    font-size: 20px;
    margin-left: 8px;
}

.carousel{
    margin-top: 75px;
    /* width: 90%; */ 
}   

a{
    width: 200px;
}

.header, .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    display: flex;
    position: absolute;
    width: 100%; 

    left: 0px;
    right: 0px; 
    top: 0px;

    background: rgb(38, 74, 153);
    /* box-shadow: 1px 1px 8px darkblue; */
    height: 4.5em;
    justify-content: right; 
    padding: 0 10% 0;
}
.menu{
    font-size: 18px;
    gap: 3em;
}
.menu a{
    text-decoration: none;
    color: white;
    transition: 1s;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}
.menu a:hover{
    background-color: rgb(160, 189, 252);
    transition: background-color 1.5s;
    padding: 10px;
    border-radius: 10px;
}/* Fim do menu lateral */ 
                                        

.content{
    justify-content: space-between;
    align-items: center;
    text-align: center;

    height: 67vh;
    /* transition: 1s; */
}

.imagem{
    display: flex;
    justify-content: center;
    max-width: fit-content;
    height: 350px;
    /**-webkit-filter: drop-shadow(0px 0px 20px #DCDCDC);**/
}




.texto_img{
    max-width: 850px;
    text-align: justify;
    max-width: 300px;
    margin-left: 32px;
    padding: 5px;

}


.título{
    margin-top: 64px;
    font-size: 22px;
    text-align: center;
    padding: 16px;
    color: #185E85;
}

.givemespace{
    color: white;
}

.container_imagem{
    background: transparent;
    border: none;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_texto{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 700px;
}

.fundo_footer{
    background-color: #504b4b;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.conteudo_footer_titu{
    color: white;
    margin-left: 30px;
    text-align: left;
}

.conteudo_footer_titu2{
    color: white;
    text-align: left;
}

.conteudo_footer{
    color: rgb(207, 203, 203);
    margin-left: 30px;
    text-align: left;
    font-size: 12px;
}
.conteudo_footer2{
    color: rgb(207, 203, 203);
    text-align: left;
    font-size: 12px;
}

.alinhamento{
    display: block;
}


.qrcode_footer{
    margin: 15px 0 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.altura{
    padding: 20px 20px  20px;
}
.conteudosite{
    margin-top: 64px;
}

.imagem_ferramentas{
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    max-height: 500px;
    text-align: center;
    display: block;
}

.separação{
    padding: 30px;
}

.metodologia{
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    max-height: 500px;
    text-align: center;
    display: block;
    color: white;
}