
.metodologia {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: #185E85;
}
