
body{
    background-color: #185E85;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
}

.menu{
    font-family: 'Roboto';
}

body{
    text-align: center;
}

