
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como lidar com as avaliações?</title>
    <link rel="stylesheet" type= text/css href="../static/stylepáginas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="título">Como lidar com as avaliações?</div>
    
    <div class="container_imagem">
        <div class="imagem"><img src="/static/imagem.jpg" /></div>
        <div class="texto_img">Trabalhar em grupo não é fácil, seja com projetos simples ou mais complicados o desenvolvimento de um sistema já é estressante por si só, é por isso e muitos outros motivos que o Scrum Guide recomenda a criação de um “pacto de equipe”, além de seguir o manifesto do método ágil e os “pilares de sustentação” do Scrum.</div>
    </div>

    <div class="container_texto"><b>Quais são os pilares de sustentação do Scrum?</b></div>
        
        <div class="container_texto">O pilar principal é a <b>TRANSPARÊNCIA</b>, um bom funcionamento em equipe se apoia na sinergia estabelecida em grupo, e para que isso possa ser criado é preciso estabelecer um diálogo sincero com seus colegas de trabalho.</div>
 
        
        <div class="container_texto">O segundo pilar é a <b>INSPEÇÃO</b>, para garantir o funcionamento do sistema mantenha-se vigilante quanto a atualizações e teste, tudo deve ser devidamente testado a fim de evitar interromper o andamento do grupo ou infligir o trabalho de um colega.</div>
        <div class="container_texto">O terceiro pilar é a <b>ADAPTAÇÃO</b>, o trabalho feito pela equipe é um projeto vivo em constante modificação, estar preparado para se adaptar e adaptar o que foi criado é primordial para o funcionamento grupal. </div>

        
        <div class="container_texto"><b>O que é o “pacto de equipe”?</b></div>
        <div class="container_texto">O pacto de equipe pode ser formulado pelo seu grupo de trabalho de acordo com a maneira que achar melhor, mas deve ser comunicado com todos, e caso seja possível mantê-lo visível no ambiente de trabalho. A maioria deles consiste em uma lista simples de “O que queremos” e “O que não queremos” dentro da convivência e trabalho coletivo, baseando-se nos pilares de sustentação já apresentados.</div>

        
        <div class="container_texto"><b>Lidando com Avaliações.</b></div>
        <div class="container_texto">As avaliações são algo comum dentro da metodologia ágil, e geralmente ocorrem no fim da entrega de cada projeto. Elas contam com as opiniões dos participantes sobre o que foi entregue e o trabalho individual de cada um da equipe. Os requisitos para ser bem avaliado não serão uma surpresa, o pacto da equipe e os pilares de sustentação do Scrum já deixam bastante claro como trabalhar em grupo dentro dessa metodologia. Ainda assim existem algumas dicas sobre isso.</div>

        
        <div class="container_texto"><b>É uma crítica construtiva? </b></div>
        <div class="container_texto">Todos sabem o quão complexo pode ser a relações e o ego humano, por isso não deixe nunca de levar em conta o nível de sensibilidade de seus colegas. Tenha empatia, evite abordagens mais bruscas ou ríspidas, lembre-se que a outra pessoa pode ter seus problemas pessoais e estar se esforçando para fazer o melhor. Pense nisso sempre que fizer uma avaliação também, o que for dito sempre vai gerar uma reação, e um resultado no grupo como um tudo.</div>
 
        
        <div class="container_texto"><b>Não é nada pessoal.</b></div>
        <div class="container_texto">Já foi mostrado neste capítulo como avaliar seus colegas quando for requerido, mais e quando for você o avaliado? A regra é: não leve para o pessoal. Assim como você pretende seguir o pacto de equipe e as outras dicas apresentadas, o grupo também irá fazer o mesmo, tentando sempre levar em consideração sua forma de trabalho, e avaliando com empatia. ou da sprint, ou até mesmo de um projeto futuro.</div>
    </div>

    <div class="título">Exercícios</div>
    
</body>
</html>
