<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <title>Document</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='./css/normalize.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='./css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body id="bodyhome">

    <nav class="header" id="header">
        
        <div class="layout">
            
            <!-- Menu -->
            <div class="topo">
                <div class="menu">
                <img src="../static/img/logo_gn.png" class="logo" alt="logo">
                <a href="/introducao">Home</a>
                <a href="/scrum">SCRUM</a>
                <a href="/product">Product Owner</a>
                <a href="/master">Scrum Master</a>
                <a href="/equipe">Equipe</a>
                <a href="/avaliacoes">Avaliações</a>
                <a href="/ferramentas">Ferramentas</a>
                </div>

            </div>  
        
        </nav>

    </div>
    <div class="altura"></div>
    
    
    {% block conteudo %}

    {% endblock %}

    <!-- Footer -->
    
    <a href="#top"><img src="/static/seta1.png" alt="" align="right" width="40px" height="40px"></a>

    <div class="separação"></div>

    <div class="fundo_footer">
        <div class="alinhamento">
            <div class="conteudo_footer_titu2">📌 CONTEÚDO:</div>
            <div class="conteudo_footer2">- Introdução</div>
            <div class="conteudo_footer2">- Scrum</div>
            <div class="conteudo_footer2">- Product Owner</div>
            <div class="conteudo_footer2">- Scrum Master</div>
            <div class="conteudo_footer2">- Equipe de desenvolvimento</div>
            <div class="conteudo_footer2">- Como lidar com as avaliações?</div>
            <div class="conteudo_footer2">- Ferramentas de controle</div>
        </div>
        <div class="alinhamento">
            <div class="conteudo_footer_titu">PRECISA DE SUPORTE?</div>
            <div class="conteudo_footer">📧 e-mail: suporte_metacode@metacode.com</div>
            <div class="conteudo_footer">📞 Contato (capital): 0800 000 000</div>
            <div class="conteudo_footer">📞 Contato (interior): 0800 000 001</div>
        </div>
        <div class="alinhamento">
            <div class="conteudo_footer_titu">SIGA O PROJETO NO GITHUB:</div>
            <div class="qrcode_footer"><a href="https://github.com/DianneFaria/Projeto-de-API-1-Semestre.git" target="_blank"><img src="../static/qr-code.png" width="100px" height="100px"></a></div>    
            <div class="conteudo_footer_titu">Use a câmera do celular para</div>
            <div class="conteudo_footer_titu">scannear ou clique na imagem</div>
            </div>
        </div>
    </div>
    
    <!--Final footer -->

</body>
</html>