<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock %}</title>
    <!-- bot css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- bot css -->
    <!-- bot js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>

    <!-- bot js -->

    <!-- menu -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='./css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='./css/normalize.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="..//static/img_tópicos/logopreto.png" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">

</head>

<script src="/static/js/dark.js" defer></script>

<body id="bodyhome">
     <!-- Menu Topo -->
     <nav class="header" id="header">
        <div class="botaomenu">
            <i class="bi bi-list" id="btn-exp"></i>
        </div>
        <div class="metodologia">
            <img src="..//static/img_tópicos/logo.png" height="48px" width="48px">
            Metodologia Ágil
        </div>

        <div style="width: 10%; display:flex; justify-content: end; margin-right: 20px;">
            <div style="width: 100%;"">
                <input type="checkbox" id="toggle">

                <label class="toggle" for="toggle">
                    <i class="bx bxs-sun"></i>
                    <i class="bx bx-moon"></i>
                    <span class="ball"></span>
                </label>
            </div>
        </div>
    </nav>

    <!-- Menu Lateral -->
    <nav class="menu-lateral">

       <!--  <div class="btn-expandir">
            <i class="bi bi-list"></i>
        </div> -->

        <ul>
            <!-- Home -->
            <li class="item-menu">
                <a href="/">
                    <span class="icon"><i class="bi bi-house"></i></span>
                    <span class="txt-link">Home</span>
                </a>
            </li>
            <!-- Introdução -->
            <li class="item-menu">
                <a href="introducao">
                    <span class="icon"><i class="bi bi-layout-text-window-reverse"></i></span>
                    <span class="txt-link">Introdução</span>
                </a>
            </li>
            <!-- Método Scrum -->
            <li class="item-menu">
                <a href="/scrum">
                    <span class="icon"><i class="bi bi-clipboard2-data-fill"></i></span>
                    <span class="txt-link">Método Scrum</span>
                </a>
            </li>
            <!-- Ferramentas -->
            <li class="item-menu">
                <a href="/ferramentas">
                    <span class="icon"><i class="bi bi-graph-down"></i></span>
                    <span class="txt-link">Ferramentas</span>
                </a>
            </li>
            <!-- Product Owner -->
            <li class="item-menu">
                <a href="/product">
                    <span class="icon"><i class="bi bi-person"></i></i></span>
                    <span class="txt-link">Product Owner</span>
                </a>
            </li>
            <!-- Scrum Master -->
            <li class="item-menu">
                <a href="/master">
                    <span class="icon"><i class="bi bi-person-gear"></i></span>
                    <span class="txt-link">Scrum Master</span>
                </a>
            </li>
            <!-- Equipe -->
            <li class="item-menu">
                <a href="/equipe">
                    <span class="icon"><i class="bi bi-people"></i></span>
                    <span class="txt-link">Equipe</span>
                </a>
            </li>
            <!-- Avaliação -->
            <li class="item-menu">
                <a href="/avaliacoes">
                    <span class="icon"><i class="bi bi-journal-check"></i></span>
                    <span class="txt-link">Avaliação</span>
                </a>
            </li>
        </ul>

    </nav>


    <div class="altura"></div>


    {% block conteudo %}

    {% endblock %}

    <!-- Footer -->

    <a id="subir" href="#"><span class="icontopo"><i class="bi bi-arrow-up-circle"></i></span></a> <!-- Botão Subir -->

    <div class="separação"></div>

    <div class="fundo_footer">
        <div class="alinhamento">
            <div class="conteudo_footer_titu2">📌 CONTEÚDO:</div>
            <div class="conteudo_footer2">- Introdução</div>
            <div class="conteudo_footer2">- Scrum</div>
            <div class="conteudo_footer2">- Product Owner</div>
            <div class="conteudo_footer2">- Scrum Master</div>
            <div class="conteudo_footer2">- Equipe de desenvolvimento</div>
            <div class="conteudo_footer2">- Como lidar com as avaliações?</div>
            <div class="conteudo_footer2">- Ferramentas de controle</div>
        </div>
        <div class="alinhamento">
            <div class="conteudo_footer_titu">PRECISA DE SUPORTE?</div>
            <div class="conteudo_footer">📧 e-mail: suporte_metacode@metacode.com</div>
            <div class="conteudo_footer">📞 Contato (capital): 0800 000 000</div>
            <div class="conteudo_footer">📞 Contato (interior): 0800 000 001</div>
        </div>
        <div class="alinhamento">
            <div class="conteudo_footer_titu">SIGA O PROJETO NO GITHUB:</div>
            <div class="qrcode_footer"><a href="https://github.com/DianneFaria/Projeto-de-API-1-Semestre.git"
                    target="_blank"><img src="../static/img_tópicos/qr-code.png" width="100px" height="100px"></a></div>
            <div class="conteudo_footer">Use a câmera do celular para scannear</div>
            <div class="conteudo_footer">ou clique na imagem</div>
        </div>
    </div>
<script src="..//js/quis.js"></script>
<script src="..//static/js/menulateral.js"></script>
</body>

</html>