  {% extends "base.html" %}
    {% block titulo %}Equipe{% endblock %}            
    {% block conteudo %}  

    <div class="título">Equipe de desenvolvimento</div>
    <div class="container_imagem">
        <div class="texto_img_esquerda">A equipe de desenvolvimento são os construtores do método Scrum, responsáveis em realizar
            o trabalho necessário para entregar uma versão funcional ou melhorada do produto no final de cada sprint. As
            equipes devem ser estruturadas e organizadas o bastante para gerenciar seu próprio trabalho, funcionando em
            união. </div>
        <div class="imagem"><img src="../static/img_tópicos/Company-cuate.png"/></div>
    </div>
    <div class="container_texto">Para fazer parte deste grupo é necessário estabelecer uma sinergia com seus colegas, e
        estar atento ao trabalho alheio, procurando sempre incrementar o produto da melhor maneira possível, e auxiliar
        a equipe a fim de alcançar eficácia e eficiência no projeto.</div>
    <div class="container_texto">A equipe pode ser formada por programadores, WebAnalitics, UX (User Experience
        Designer), Arquiteto de Sistemas, e SQA (Software Quality Assurance). Mas não é uma regra conter todas essas
        funções dentro da equipe. </div>

    <div class="container_imagem">
        <div class="imagem"><img src="../static/img_tópicos/Code typing-bro.png" /></div>
    
    <div class="texto_img"><p><b>Programadores</b> – Responsáveis por fazer a programação do sistema do projeto,
        devem ser resilientes e capazes de solucionar problemas.</p><p><b>WebAnalitics</b> - Esses analistas são responsáveis por otimizar as páginas a fim de
        alcançar um bom posicionamento nos buscadores e acompanhar a audiência. Geralmente encontrados em projetos que
        se empenham para alcançar engajamento nas redes.</p> </div>

    </div>
    <div class="container_texto"><b>UX (User Experience Designer)</b> – Estuda e otimiza o sistema no ponto de vista do
        usuário, procurando deixar a interface intuitiva e ergonômica. Especializando-se na usabilidade de navegação e
        informação do projeto criado. </div>

    <div class="container_texto"><b>Arquiteto de Sistema</b> – Esse desenvolvedor tem uma visão mais profunda da
        plataforma operacional, entende de infraestrutura, frameworks, bibliotecas, bancos de dados e segurança,
        funcionando como um especialista e orientador.</div>

    <div class="container_texto"><b>SQA (Software Quality Assurance)</b> – Como o nome em inglês indica, o SQA tem a
        reponsabilidade de garantir a qualidade do software. Costuma fazer testes pós-desenvolvimentos e testes de
        regressão, procurando estabelecer uma linearidade no processo de qualidade.</div>

        <div class="título">Exercícios</div>

        <div class="container_texto">
            <div id="quiz"></div>
            <button class="botton" id="submit">Resposta</button>
            <button class="botton" id="clear">Limpar</button>
            <div id="results" style="margin: 10px;"></div>
        </div>
        
        <script src="/static/js/quizEquipe.js" defer></script>

            <p class="givemespace">.</p>
        
            <div class="container">

                <div class="slections">
                    <a href="/master">
                        <span class="icones"><i class="bi bi-arrow-left"></i></span>
                        <span class="txt">Scrum Master</span>
                    </a>
                </div>

                <div class="botoes-conteudos">
                    <a href="/">
                        <span class="icones"><i class="bi bi-house"></i></span>
                    </a>
                </div>

                <div class="slections">
                    <a href="/avaliacoes">
                        <span class="icones"><i class="bi bi-arrow-right"></i></span>
                        <span class="txt">Avaliação</span>
                    </a>
                </div>
            
            </div>
            
            <p class="givemespace">.</p>
            <p class="givemespace">.</p>
            <hr>
            <div class="fontes_do_site">
                <div class="alinhamento">
                    <div class="conteudo_fonte"style = "font-family:helvética;">O texto acima foi redigido com base nas informações retiradas do livro <a class="link_font" href="https://jorgeaudy.com/scrum360/" target="_blank" style = "font-family:helvética;">Scrum 360º</a>, Jorge Geaudy</div>
                </div>
            </div>

<br>
    {% endblock %}