  {% extends "base.html" %}
    {% block titulo %}Equipe{% endblock %}            
    {% block conteudo %}  

    <div class="título">Equipe de desenvolvimento</div>
    <div class="container_imagem">
        <div class="texto_img">A equipe de desenvolvimento são os construtores do método Scrum, responsáveis em realizar
            o trabalho necessário para entregar uma versão funcional ou melhorada do produto no final de cada sprint. As
            equipes devem ser estruturadas e organizadas o bastante para gerenciar seu próprio trabalho, funcionando em
            união. </div>
        <div class="imagem_menor"><img src="../static/img_tópicos/Company-cuate.png" alt="align:right"/></div>
    </div>
    <div class="container_texto">Para fazer parte deste grupo é necessário estabelecer uma sinergia com seus colegas, e
        estar atento ao trabalho alheio, procurando sempre incrementar o produto da melhor maneira possível, e auxiliar
        a equipe afim de alcançar eficácia e eficiência no projeto.</div>
    <div class="container_texto">A equipe pode ser formada por programadores, WebAnalitics, UX (User Experience
        Designer), Arquiteto de Sistemas, e SQA (Software Quality Assurance). Mas não é uma regra conter todas essas
        funções dentro da equipe. </div>

    <div class="container_imagem">
        <div class="imagem"><img src="../static/img_tópicos/Code typing-bro.png" /></div>
    
    <div class="texto_img"><p><b>Programadores</b> – Responsáveis por fazer a programação do sistema do projeto,
        devem ser resilientes e capazes de solucionar problemas.</p><p><b>WebAnalitics</b> - Esses analistas são responsáveis por otimizar as páginas a fim de
        alcançar um bom posicionamento nos buscadores e acompanhar a audiência. Geralmente encontrados em projetos que
        se empenham para alcançar engajamento nas redes.</p> </div>

    </div>
    <div class="container_texto"><b>UX (User Experience Designer)</b> – Estuda e otimiza o sistema no ponto de vista do
        usuário, procurando deixar a interface intuitiva e ergonômica. Especializando-se na usabilidade de navegação e
        informação do projeto criado. </div>

    <div class="container_texto"><b>Arquiteto de Sistema</b> – Esse desenvolvedor tem uma visão mais profunda da
        plataforma operacional, entende de infraestrutura, frameworks, bibliotecas, bancos de dados e segurança,
        funcionando como um especialista e orientador.</div>

    <div class="container_texto"><b>SQA (Software Quality Assurance)</b> – Como o nome em inglês indica, o SQA tem a
        reponsabilidade de garantir a qualidade do software. Costuma fazer testes pós-desenvolvimentos e testes de
        regressão, procurando estabelecer uma linearidade no processo de qualidade.</div>


    <div class="título">Exercícios</div>
    <div class="container_texto"> <b>1. Sabe-se que uma equipe de desenvolvedores contém várias possíveis funções, levando isso em conta e o conhecimento adquirido, o que um User Experience Designer faz: </b>
        <div class="container_texto"> a- Ele é responsável por ser o orientador e especialista do time, tendo um conhecimento profundo sobre a plataforma. </div>
         <div class="container_texto">b- Ele é responsável por garantir a qualidade do software por meio de testes no projeto. </div>
         <div class="container_texto">c- Ele é responsável por criar os códigos do projeto. </div>
        <div class="container_texto">d- Ele é responsável por alinhar o projeto com as necessidades do usuário.</div>
    </div>
</div>

<div class="container_texto"> <b>2. Todos os projetos e equipes tem suas peculiaridades, sendo organizados de acordo com suas necessidades. Tendo isso em mente, quando é mais comum encontrar desenvolvedores WebAnalitics em projetos?</b>
    <div class="container_texto"> a- Esses desenvolvedores são comumente encontrados em projetos que procuram engajamento na web, procurando sempre bons posicionamentos nos buscadores. </div>
     <div class="container_texto">b- Esses desenvolvedores costumam ser encontrados em projeto que implementam inteligência artificial, buscando melhorar o algoritmo do sistema.  </div>
     <div class="container_texto">c- Esses desenvolvedores geralmente são encontrados em projetos que utilizam a linguagem em Python, a fim de atualizar o sistema sempre que necessário de acordo com as novas atualizações de linguagem. </div>
    <div class="container_texto">d- Esses desenvolvedores são comumente encontrados em projetos que lidam com vendas, procurando manter atualizado os gráficos de lucro do sistema.</div>
    <br>
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"> Gabarito
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">1.c</a></li>
          <li><a class="dropdown-item">2.a</a></li>
        </ul>
      </div>
</div>
</div>
<br>
    {% endblock %}