{% extends "base.html" %}
{% block titulo %}Ferramentas{% endblock %}
{% block conteudo %}

<!-- Scroll -->
<nav class="scroll">
    <a href="#Backlog"><i class="bi bi-columns-gap"></i> Backlog</a>
    <a href="#Burndown"><i class="bi bi-graph-down-arrow"></i> Burndown</a>
    <a href="#Kanban"><i class="bi bi-kanban"></i> Kanban</a>
    <a href="#DoRandDoD"><i class="bi bi-card-checklist"></i> DoR e DoD</a>
</nav>

<!-- Parte Backlog -->
<section id="Backlog">
    <br>
    <div class="título">Backlog</div>
    <div class="container_imagem">
        <div class="imagem"><img src="../static/img_tópicos/Task-bro.png" /></div>
        <div class="texto_img">O backlog do produto é uma lista de tudo que precisa ser feito em um projeto. Sendo uma
            fonte
            de informação fundamental para a equipe de desenvolvimento, pois orienta o trabalho que deve ser realizado
            para
            alcançar as metas do projeto.</div>
    </div>

    <div class="container_texto"><b>Passo a passo para criar o backlog do produto:</b></div>

    <div class="container_texto">• Antes da criação do backlog, a equipe de desenvolvimento deve identificar os
        objetivos do
        produto, ajudando a focar no que é mais importante para o sucesso do projeto.</div>

    <div class="container_texto">• A equipe deve listar todas as funcionalidades que precisam ser desenvolvidas no
        produto,
        priorizando com base em sua importância para o cliente e para o sucesso do projeto.</div>

    <div class="container_texto">• Crie as histórias de usuário: Cada funcionalidade requer histórias do usuário com o
        fim
        de descrever suas necessidades e o que precisa se fazer, dada sua importância.</div>

    <div class="container_texto">• Estime o esforço necessário para cada história de usuário. Essa estimativa pode ser
        feita
        em pontos de história, dias ou horas, dependendo da visão da equipe.</div>

    <div class="container_texto">• Refine e detalhe as histórias de usuário, isso pode incluir a quebra de histórias de
        usuário maiores em histórias menores e mais gerenciáveis.</div>

    <div class="container_texto">• O backlog do produto deve ser atualizado regularmente para refletir as mudanças no
        projeto, com adição de novas funcionalidades e atualização das estimativas de esforço.</div>

    <div class="container_texto"><b>Exemplo de Backlog:</b></div>

    <div class="imagem_ferramenta"><img src="../static/img_tópicos/backlog.png" height="200" /></div>

    <div class="container">

        <div class="slections">
            <a href="../static/arquivo/Exemplo BackLog.xlsx" download>
                <span class="icones"><i class="bi bi-arrow-down-square"></i></span>
                <span class="txt">Download</span>
            </a>
        </div>

        <div class="slections">
            <a href="../static/arquivo/Exemplo BackLog 2.xlsx" download>
                <span class="icones"><i class="bi bi-arrow-down-square"></i></span>
                <span class="txt">Download 2</span>
            </a>
        </div>

    </div>

    <div class="container">

        <div class="slections">
            <a href="../static/img_tópicos/exbacklog.png" target="_blank">
                <span class="icones"><i class="bi bi-image"></i></span>
                <span class="txt">Backlog 2</span>
            </a>
        </div>

        <div class="slections">
            <a href="../static/img_tópicos/exbacklog2.png" target="_blank">
                <span class="icones"><i class="bi bi-image"></i></span>
                <span class="txt">Backlog 3</span>
            </a>
        </div>

    </div>
</section> <!-- Fim Backlog -->

<!-- Parte Burndown -->
<section id="Burndown">
    <br>
    <div class="título">Burndown</div>

    <div class="container_imagem">
        <div class="texto_img_esquerda">O burndown tem como objetivo acompanhar o andamento de um projeto. Isto é,
            permite que a
            equipe de desenvolvimento visualize o trabalho que precisa ser realizado e acompanhe o progresso
            diariamente.
        </div>
        <div class="imagem"><img src="../static/img_tópicos/Office management-amico.png" width="400px" /></div>
    </div>

    <div class="container_texto"><b>Passo a passo para utilizar o burndown no método Scrum:</b></div>

    <div class="container_texto">• Definir o escopo do projeto: Antes de começar a utilizar o burndown, é importante que
        a
        equipe tenha um entendimento claro do que precisa ser entregue no projeto.</div>

    <div class="container_texto">• Criar o backlog do produto: A equipe deve criar uma lista com todas as
        funcionalidades
        que precisam ser desenvolvidas no projeto.</div>

    <div class="container_texto">• Priorizar as funcionalidades do backlog com base na complexidade e valor para o
        cliente.
    </div>

    <div class="container_texto">• Estimar o esforço para cada funcionalidade do backlog, podendo ser estimada em horas,
        dias ou pontos de história.</div>

    <div class="container_texto">• A partir das estimativas de esforço e da data de entrega do projeto, a equipe deve
        criar
        um gráfico burndown que mostra o progresso do projeto ao longo do tempo.</div>

    <div class="container_texto">• Atualizar e revisar o burndown chart (gráfico) diariamente. Isso permite a
        visualização
        do progresso do projeto e identificar qualquer desvio em relação ao plano original.</div>


    <div class="container_texto">Em resumo, o burndown é uma técnica simples e eficaz para monitorar o progresso do
        projeto
        no método Scrum. Além disso, ajuda a equipe a identificar problemas e desvios em tempo hábil, permitindo que
        tomem
        medidas corretivas para manter o projeto no caminho certo.</div>

    <div class="container_texto"><b>Exemplo de Burndown:</b></div>

    <div class="container_texto">O gráfico irá refletir o andamento do trabalho, a linha azul é o desempenho ideal, mas
        não
        é necessário que esteja perfeitamente igual.</div>

    <div class="imagem_ferramentas"><img src="../static/img_tópicos/bdwn1.png" /></div>

    <div class="container_texto">As áreas de data de início até data de término devem ser preenchidas para que o gráfico
        se
        edite automaticamente conforme as tarefas vão sendo concluídas.</div>

    <div class="imagem_ferramentas"><img src="../static/img_tópicos/bdwn2.png" /></div>

    <div class="container">

        <div class="slections">
            <a href="../static/arquivo/ExBurndown.xlsx" download>
                <span class="icones"><i class="bi bi-arrow-down-square"></i></span>
                <span class="txt">Download</span>
            </a>
        </div>
        <div class="slections">
            <a href="../static/arquivo/ExBurndown2.xlsx" download>
                <span class="icones"><i class="bi bi-arrow-down-square"></i></span>
                <span class="txt">Download 2</span>
            </a>
        </div>

    </div>

    <div class="container">

        <div class="slections">
            <a href="../static/img_tópicos/exburndown.png" target="_blank">
                <span class="icones"><i class="bi bi-image"></i></span>
                <span class="txt">Burndown 2</span>
            </a>
        </div>

    </div>
</section> <!-- Fim Burndown -->

<!-- Parte Kanban -->
<section id="Kanban">
    <br>
    <div class="título">Kanban</div>

    <div class="container_imagem">
        <div class="imagem"><img src="../static/img_tópicos/Scrum board-bro.png" /></div>
        <div class="texto_img">
            <p>O Kanban é um dos principais métodos utilizados pela metodologia ágil. É uma forma de <b>gestão
                    visual</b> usada para controlar o fluxo de trabalho.</p>
            <p>Consiste num <b>quadro</b> com <b>cartões</b> e <b>colunas</b>. Cada quadro é um kanban.</p>
        </div>
    </div>

    <div class="container_texto">
        <p>Os cartões representam atividades e geralmente são diferenciados por cores. Eles
            podem indicar quem é o responsável pela tarefa, o nível de prioridade dela ou qual é o tipo da tarefa;</p>
        <p>As colunas representam os status das atividades. Um Kanban tradicional possui três colunas: “A fazer”,
            “Fazendo” e “Feito”, mas elas podem ser nomeadas de acordo com as necessidades.</p>
    </div>

    <div class="img_ferramentas"><img src="../static/img_tópicos/kanban 1.png" /></div>
    <div class="container_texto">
        <p>A utilização desse sistema consiste basicamente em mover os cartões de coluna conforme o status da atividade
            for
            alterado.</p>
        <p>Esse método permite que o gestor acompanhe o progresso da equipe e do projeto, podendo identificar a
            possibilidade de acrescentar mais demandas. Além disso, o Kanban também traz equilíbrio nos processos e
            permite
            identificar a capacidade produtiva da equipe, respeitando os limites de entregas.</p>
    </div>

    <div class="container_texto">
        <p><b>Como você pode começar a aplicar o Kanban na sua organização?</b></p>
        <p><b>1. Prepare a equipe:</b> Explique o novo sistema de trabalho, mostre como funciona e como as atividades
            serão
            divididas;</p>
        <p><b>2. Mapeie os processos:</b> Identifique os status importantes a serem divididos em colunas e também crie
            categorias
            para as atividades;</p>
        <p><b>3. Defina critérios de priorização:</b> O critério pode ser por data de entrega, tipo de ação, responsável
            etc. E
            pode ser baseado em cores ou colunas específicas. É muito importante que todos na equipe estejam cientes e
            entendam como esses critérios estão sendo exibidos;</p>
        <p><b>4. Avalie melhoras:</b> Sempre esteja disposto a repensar o modo de fazer as atividades e analisar o que
            pode
            ser melhorado.</p>
        </p>
    </div>

    <div class="container_texto">
        <p>O Kanban pode ser utilizado tanto online (utilizando um sistema Kanban) quanto off-line (utilizando
            post-its). O
            quadro online acaba se tornando mais fácil, dinâmico e flexível.</p>
        <p><b>Exemplo de Kanban utilizando o Trello:</b></p>
    </div>
    <div class="imagem_ferramentas"><img src="../static/img_tópicos/kanban trello.PNG" /></div>

    <p class="givemespace">.</p>
    <div class="container_texto">
        <p><b>Veja abaixo 5 Softwares Kanban que você pode estar utilizando:</b></p>
    </div>

    <div class="container__kanban">

        <a class="kanban__button" href="https://www.proofhub.com/" target="_blank"><img
                src="../static/img_tópicos/proofhub.png" width="92px" height="57px"></a>

        <a class="kanban__button" href="https://trello.com/pt-BR" target="_blank"><img
                src="../static/img_tópicos/trello2.png" width="118px" height="66px">
        </a>

        <a class="kanban__button" href="https://asana.com/pt" target="_blank"><img src="../static/img_tópicos/asana.png"
                width="105px" height="73px"></a>

        <a class="kanban__button" href="https://www.atlassian.com/software/jira" target="_blank"><img
                src="../static/img_tópicos/jira.png" width="100px" height="35px"></a>

        <a class="kanban__button" href="https://clickup.com/" target="_blank"><img
                src="../static/img_tópicos/clickup2.png" width="140px" height="55px"></a>
    </div>

</section> <!-- Fim Kanban -->

<!-- Parte DoR e DoD -->
<section id="DoRandDoD">
    <br>
    <div class="título">DoR (Definition of Ready) e DoD (Definition of Done)</div>

    <div class="container_imagem">
        <div class="imagem"><img src="../static/img_tópicos/Office management-cuate.png" /></div>
        <div class="texto_img">
            <p>Agora que você já sabe grande parte do planejamento de uma Sprint, e como fazer o seu Backlog e Burndown,
                além de usar o método kanban para se organizar, é preciso pensar no produto final. Toda a organização
                feita
                sobre o projeto até agora visa um objetivo: a aprovação do cliente por meio de um produto funcional. Por
                isso é muito importante inserir o <b>DoR (Definition of Ready) e o DoD (Definition of Done)</b> nas suas
                reuniões periódicas, e se basear nos posicionamentos da equipe na hora de estruturar e fazer o seu
                planejamento
                definitivo.
            </p>
        </div>
    </div>
    </div>

    <div class="container_texto">
        <p><b> Definition of Ready (DoR)</b></p>
        <p>O acrônimo DoR em português significa "Definição de Pronto" ou "Definição de Preparado", e indica quando um
            item
            passa a ter importância o bastante para entrar no planejamento de Sprint e ser feito. Assim como em uma
            receita de
            bolo que é preciso ter os ingredientes, as quantidades específicas e os utensílios necessários, no
            desenvolvimento
            de um projeto é preciso obter os objetivo de um item do backlog, o que é preciso para fazê-lo, e como ele
            será
            feito, nesse caso o DoR.</p>

        <p>Ele funciona em junção com o DoD, e geralmente é feito pelo PO do time scrum junto a Equipe de
            Desenvolvimento,
            utilizando a visão do produto recebida do cliente, e o funcionamento interno da equipe para colocá-lo em
            prática. O DoR é um caminho a ser seguido no mapeamento do Backlog, e facilita o trabalho dos
            desenvolvedores e
            a sinergia grupal.</p>
    </div>

    <div class="imagem_ferramentas"><img src="../static/img_tópicos/DoR and DoD.png" /></div>

    <div class="container_texto">
        <p><b> Definition of Done (DoD)</b></p>
        <p>O acrônimo DoD significa em português "Definição de Feito", e é utilizado no planejamento de Sprint para
            indicar
            quando parte do backlog pode ser considerada pronta,ou seja um serviço concluído. Nesse caso há uma espécie
            de
            contrato entre o Scrum Team para definir quando uma etapa pode ser considerada concluída, sempre se
            alinhando
            com os requisitos do cliente e a necessidade do usuário. .</p>

        <p>A idéia principal do DoD é antecipar como um item deve ficar para que ele seja executável, e promover
            um tipo de validação deste produto para aprovar o seu valor no projeto e evitar complicações futuras na
            entrega
            final.</p>
    </div>
</section><!-- Fim DoR e DoD -->

<section id="MVP">
    <br>
    <div class="título">O Que é MVP?</div>

    <div class="container_imagem">
        <div class="imagem"><img src="../static/img_tópicos/Open source-pana.png" /></div>
        <div class="texto_img">
            <p>A sigla MVP significa Minimum Viable Product, que traduzido para o português torna-se Menor Produto
                Viável. O MVP é um conjunto de testes e entregas adiantadas que apresentam algum valor para o cliente,
                um projeto que exige muito tempo pode aos poucos ser apresentado para o contratante, para que este tenha
                uma ideia prévia do produto final. Como o nome indica é o produto mínimo de uma construção, por isso não
                podem ser funcionalidades soltas, tem de ser um grupo funcional de recursos do projeto, até mesmo um
                protótipo disponível para testes.
            </p>
        </div>
    </div>
    </div>
    <div class="container_texto">
        <p>Para montar seu MPV é preciso ter uma visão ampla do projeto, e compreensão sobre a necessidade do
            cliente. Utilizando-se do backlog, e se alinhando com o conhecimento do PO sobre a necessidade do cliente, é
            possível
            criar um mapeamento do projeto baseando-se na possibilidade de entregas de testes, lembrando sempre que
            o mínimo produto viável tem de ser enxuto e gastar o mínimo de recursos, permitindo apenas uma
            visualização de uso.</p>

    </div>

    <div class="imagem_ferramentas"><img src="../static/img_tópicos/imagem-corpo-maior-23-1024x512.jpg" /></div>

    <div class="container_texto">
        <p><b> Exemplos de MVP</b></p>
        <p><b>Apple:</b> O iPhone 1 era um exemplo de mpv, o aparelho possui funcionalidades básicas de um smartphone,
            mas faltava algumas funções, e obrigava o usuário a baixar o iTunes para sua ativação. A idéia principal
            aqui era superar esse " protótipo" nos próximos lançamentos, e instigar o interesse público.</p>

        <p><b>Facebook:</b> A rede social foi testada dentro dos muros de Harvard, Mark Zuckerberg aproveitava os
            feedbacks dos usuários primários pra fazer alterações fundamentais no projeto, sempre visando a validação
            final necessária.</p>

    </div>

    </div>

    <p class="givemespace">.</p>
    <p class="givemespace">.</p>
    <hr>

    <div class="fontes_do_site">
        <div class="alinhamento">
            <div class="conteudo_fonte" style="font-family:helvética;">Referências bibliográficas:
                <div><a><b>[1]</b> </a><a class="link_font"
                        href="https://robsoncamargo.com.br/blog/Backlog-o-que-e-e-como-pode-ajudar-em-seus-projetos"
                        target="_blank" style="font-family:helvética;">Robson Camargo, Backlog: o que é e como pode
                        ajudar
                        em seus projetos, Robson Camargo.</a></div>

                <div><a><b>[2]</b> </a><a class="link_font" href="https://asana.com/pt/resources/burndown-chart"
                        target="_blank" style="font-family:helvética;">Asana, Gráfico de burndown: o que é e como
                        usá-lo,
                        Team Asana.</a></div>

                <div><a><b>[3]</b> </a><a class="link_font"
                        href="https://artia.com/wp-content/uploads/2023/05/Artia-Ebook-Kanban-A-Chave-Para-Otimizar-O-Fluxo-De-Trabalho-em-Projetos.pdf"
                        target="_blank" style="font-family:helvética;">E-book - KANBAN: a chave para otimizar o fluxo de
                        trabalho em projetos, artia. </a></div>

                <div><a><b>[4]</b> </a><a class="link_font" href="https://jorgeaudy.com/scrum360/" target="_blank"
                        style="font-family:helvética;">Livro-Scrum 360º, Jorge Geaudy. </a></div>

                <div><a><b>[5]</b> </a><a class="link_font" href="https://jorgeaudy.com/scrum360/" target="_blank"
                            style="font-family:helvética;">Livro-Scrum 360º, Jorge Geaudy. </a></div>
            </div>
        </div>
    </div>

    {% endblock %}