<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=" text/css" href="../static/css/home.css">
    <title>Home</title>
    <link rel="icon" type="image/png" href="..//static/img_tópicos/logopreto.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
</head>

<script src="/static/js/dark.js" defer></script>

<body>

    <section>
        <header>
            <img class="logo" src="/static/img_tópicos/logoazul.png" alt="logo">
            <nav>
                <h1 class="site_title">BEM-VINDO AO TECH SCHOOL</h1>
            </nav>
            <input type="checkbox" id="toggle">
            <label class="toggle" for="toggle">
                <i class="bx bxs-sun"></i>
                <i class="bx bx-moon"></i>
                <span class="ball"></span>
            </label>
        </header>

        <div class="container_texto">Bem vindo a plataforma de ensino Tech School! Para um melhor aproveitamento de estudo, recomendamos que você clique no card INTRODUÇÃO para iniciar sua jornada.</div>

        <div class="container">
            <div class="card">
                <div class="content">
                    <h2>01</h2>
                    <div class="imgBx">
                        <img src="../static/img_tópicos/Product tour-bro.png">
                    </div>
                    <div class="contentBx">
                        <h3>Introdução<br><span class="texto"> A metodologia ágil é um conjunto de práticas utilizados para desenvolver projetos de forma mais flexível. </span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="/introducao" class="texto-dinamico">Conteúdo</a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <h2>02</h2>
                    <div class="imgBx">
                        <img src="../static/img_tópicos/Webinar-bro.png">
                    </div>
                    <div class="contentBx">
                        <h3>Scrum<br><span class="texto">O Scrum é um framework ágil utilizado para gerenciamento de projetos. </span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="/scrum">Conteúdo</a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <h2>03</h2>
                    <div class="imgBx">
                        <img src="../static/img_tópicos/Online consulting-bro.png">
                    </div>
                    <div class="contentBx">
                        <h3>Product Owner<br><span class="texto">O PO representa os interesses do cliente ou usuário final do produto. </span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="/product">Conteúdo</a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <h2>04</h2>
                    <div class="imgBx">
                        <img src="../static/img_tópicos/Online Review-bro.png">
                    </div>
                    <div class="contentBx">
                        <h3>Scrum Master<br><span class="texto"> O principal objetivo do Scrum Master é garantir que o Scrum Team esteja trabalhando de forma eficaz. </span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="/master">Conteúdo</a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <h2>05</h2>
                    <div class="imgBx">
                        <img src="../static/img_tópicos/Website Creator-bro.png">
                    </div>
                    <div class="contentBx">
                        <h3>Dev team<br><span class="texto">A equipe de desenvolvimento é responsável em realizar o trabalho necessário para entregar uma versão funcional do produto no final.</span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="/equipe">Conteúdo</a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <h2>06</h2>
                    <div class="imgBx">
                        <img src="../static/img_tópicos/Connecting teams-cuate.png">
                    </div>
                    <div class="contentBx">
                        <h3>Ferramentas<br><span class="texto">Descubra a importância e o passo a passo para criar o seu backlog e burndown. </span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="/ferramentas">Conteúdo</a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <h2>07</h2>
                    <div class="imgBx">
                        <img src="../static/img_tópicos/Grades-bro.png">
                    </div>
                    <div class="contentBx">
                        <h3>Avaliações<br><span class="texto">Trabalhar em grupo não é fácil, descubra como lidar com as avaliações e se relacionar em equipe. </span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="/avaliacoes">Conteúdo</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        </hr>

    </section>
</body>