<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=" text/css" href="../static/css/home.css">
    <title>FLASH CARDS TEST</title>
</head>

<body>
    <section>
        <header>
            <img class="logo" src="" alt="logo">
            <nav>
                <h1 class="site_title">BEM-VINDO AO TECH SCHOOL</h1>
            </nav>
            <a class="cta" href="#"><button>More About Us</button></a>
        </header>

        <div class="container">
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="../static/img_tópicos/Product tour-bro.png">
                    </div>
                    <div class="contentBx">
                        <h3>Introdução<br><span>A metodologia ágil é um conjunto de princípios e práticas utilizados
                                para desenvolver projetos de forma mais flexível</span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="/introducao">conteudo</a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="../static/img_tópicos/Webinar-bro.png">
                    </div>
                    <div class="contentBx">
                        <h3>Scrum<br><span>O Scrum é um framework ágil utilizado para gerenciamento de projetos, que tem
                                como
                                objetivo fornecer uma estrutura para equipes desenvolverem e entregarem produtos de
                                forma colaborativa...</span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="/scrum">conteudo</a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="../static/img_tópicos/Online consulting-bro.png">
                    </div>
                    <div class="contentBx">
                        <h3>Product Owner<br><span>O PO é responsável por representar os interesses do cliente ou
                                usuário final do produto, aprenda um pouco mais sobre essa função e como ser um bom
                                Product Owner.</span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="/product">conteúdo</a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="../static/img_tópicos/Online Review-bro.png">
                    </div>
                    <div class="contentBx">
                        <h3>Scrum Master<br><span>O Scrum Master é um papel dentro do framework de gerenciamento de
                                projetos ágeis Scrum.
                                O principal objetivo do desse papel é garantir que o Scrum Team esteja trabalhando de
                                forma eficaz</span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="/master">conteúdo</a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="../static/img_tópicos/Website Creator-bro.png">
                    </div>
                    <div class="contentBx">
                        <h3>Dev team<br><span>A equipe de desenvolvimento são os construtores do método
                                Scrum, responsáveis em realizar
                                o trabalho necessário para entregar uma versão funcional ou melhorada do produto no
                                final</span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="/equipe">conteudo</a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="../static/img_tópicos/Connecting teams-cuate.png">
                    </div>
                    <div class="contentBx">
                        <h3>Ferramentas<br><span>Descubra o passo a passo para criar o seu backlog e burndow, e
                                compreenda a importância dessas documentações </span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="/ferramentas">conteudo</a>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="../static/img_tópicos/Grades-bro.png">
                    </div>
                    <div class="contentBx">
                        <h3>Avaliações<br><span>Trabalhar em grupo não é fácil, seja com projetos simples ou mais
                                complicados, descubra como lidar com as avaliações de grupo e se relacionar em
                                time</span></h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="/avaliacoes">conteudo</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        </hr>
        <div class="container_imagem">
            <div class="imagem"><img src="../static/img_tópicos/Welcome-cuate.png" /></div>
            <div class="texto_img">
                <p><b class="título">Bem-vindo ao Tech School</b></p>A metodologia ágil é um conjunto de princípios e
                práticas utilizados para desenvolver
                projetos de forma mais flexível, rápida e eficaz, permitindo que o projeto seja dividido em partes
                menores,
                mais gerenciáveis e com entregas parciais, enfatizando acomunicação clara e contínua da equipe e do
                cliente. A vantagem de usar esse tipo de metodologia é apossibilidade de lidar com projetos complexos
                e com requisitos incertos de forma mais eficiente, assim permitindo atender as necessidades do cliente.
            </div>
        </div>
    </section>
</body>