    {% extends "base.html" %}

    {% block conteudo %}

    <div class="título">Introdução</div>

    <div class="container_imagem">
        <div class="imagem"><img src="../static/img_tópicos/introdução.png" /></div>
        <div class="texto_img">A metodologia ágil é um conjunto de princípios e práticas utilizados para desenvolver projetos de forma mais flexível, rápida e eficaz, permitindo que o projeto seja dividido em partes menores, mais gerenciáveis e com entregas parciais, enfatizando acomunicação clara e contínua da equipe e do cliente.</div>
    </div>

    <div class="container_texto">
        <div class="texto">A vantagem de usar esse tipo de metodologia é apossibilidade de lidar com projetos complexos e com requisitos incertos de forma mais eficiente, assim permitindo atender as necessidades do cliente.</div>
    </div>
   
{% endblock %}