
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introdução</title>
    <link rel="stylesheet" type= text/css href="../static/stylepáginas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="título">Introdução</div>

    <div class="container_imagem">
        <div class="imagem"><img src="/static/Pack de Imagens para o Agile Scrum.png" /></div>
        <div class="texto_img">A metodologia ágil é um conjunto de princípios e práticas utilizados para desenvolver projetos de forma mais flexível, rápida e eficaz, permitindo que o projeto seja dividido em partes menores, mais gerenciáveis e com entregas parciais, enfatizando acomunicação clara e contínua da equipe e do cliente.</div>
    </div>

    <div class="container_texto">
        <div class="texto">A vantagem de usar esse tipo de metodologia é apossibilidade de lidar com projetos complexos e com requisitos incertos de forma mais eficiente, assim permitindo atender as necessidades do cliente.</div>
    </div>
   
</body>

</html>
