    {% extends "base.html" %}
    {% block titulo %}Introdução{% endblock %}
    {% block conteudo %}

    <div class="título">Introdução</div>

    <div class="container_imagem">
        <div class="imagem"><img src="../static/img_tópicos/Team work-bro.png" /></div>
        <div class="texto_img">A metodologia ágil é um conjunto de princípios e práticas utilizados para desenvolver projetos de forma mais flexível, rápida e eficaz, permitindo que o projeto seja dividido em partes menores, mais gerenciáveis e com entregas parciais, enfatizando acomunicação clara e contínua da equipe e do cliente.</div>
    </div>

    <div class="container_texto">A vantagem de usar esse tipo de metodologia é apossibilidade de lidar com projetos complexos e com requisitos incertos de forma mais eficiente, assim permitindo atender as necessidades do cliente.</div>
    
    <p class="givemespace">.</p>
    
    <div class="container">

        <div class="botoes-conteudos">
            <a href="/">
                <span class="icones"><i class="bi bi-house"></i></span>
            </a>
        </div>

        <div class="slections">
            <a href="/scrum">
                <span class="icones"><i class="bi bi-arrow-right"></i></span>
                <span class="txt">Método Scrum</span>
            </a>
        </div>
    
    </div>
   
    {% endblock %}