    {% extends "base.html" %}
    {% block titulo %}Scrum Master{% endblock %}
    {% block conteudo %}
    
    <div class="título">Scrum Master</div>

    <div class="container_texto">O Scrum Master é um papel dentro do framework de gerenciamento de projetos ágeis Scrum. O principal objetivo do desse papel é garantir que o Scrum Team esteja trabalhando de forma eficaz e seguindo os princípios e práticas do Scrum.</div>

    <div class="container_imagem">
        <div class="imagem"><img src="../static/img_tópicos/Research paper-rafiki.png" /></div>
        <div class="texto_img">
            <p><b>Principais funções do Scrum Master:</b></p>
            <p>• Orientar e treinar a equipe na implementação do Scrum.</p>
            <p>• Proteger a equipe de distrações e interrupções externas.</p>
            <p>• Facilitar a comunicação e a colaboração entre os membros da equipe.</p>
            <p>• Remover impedimentos que afetam o progresso da equipe.</p>
        </div>
    </div>

    <div class="container_imagem">
        <div class="texto_img">
            <p><b>Algumas dicas para ser um bom Scrum Master incluem:</b></p>
            <p>• Esteja disponível para a equipe e garanta suas necessidades.</p>
            <p>• Promova a transparência.</p>
            <p>• Gerencie e lidere a equipe.</p>
            <p>• Seja comunicativo com a equipe e clientes.</p>
            <p>• Aplique de forma correta a Metodologia Ágil.</p>
            <p>• Ajude a equipe Scrum a se auto-organizar.</p>
        </div>
        <div class="imagem"><img src="../static/img_tópicos/Digital presentation-amico.png" alt="align:right"/></div>

    </div>
    </div>

    <div class="título">Exercícios</div>

    <div class="container_texto"> <b>1. Qual é o papel do Scrum Master em um time Scrum?</b>
        <div class="container_texto"> a- Gerenciar o backlog de produto.</div>
         <div class="container_texto">b- Definir as metas do sprint.</div>
         <div class="container_texto">c- Remover obstáculos que impedem o time de alcançar seus objetivos.</div>
        <div class="container_texto">d- Designar tarefas para os membros do time.</div>
    </div>
</div>

<div class="container_texto"> <b>2. Qual das seguintes afirmações melhor descreve a responsabilidade do Scrum Master em um projeto Scrum?</b>
    <div class="container_texto"> a- O Scrum Master é o líder do projeto e toma todas as decisões importantes. </div>
     <div class="container_texto">b- O Scrum Master é responsável por garantir que o time Scrum siga as práticas e valores do Scrum. </div>
     <div class="container_texto">c- O Scrum Master é responsável por desenvolver o produto e assegurar sua qualidade. </div>
    <div class="container_texto">d- O Scrum Master é responsável por gerenciar o backlog de produto e determinar as prioridades das tarefas.</div>
    <br>
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"> Gabarito
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">1.c</a></li>
          <li><a class="dropdown-item">2.b</a></li>
        </ul>
      </div>
</div>
</div>
<br>
    {% endblock %}