<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrum Master</title>
    <link rel="stylesheet" type=text/css href="../static/stylepáginas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="título">Scrum Master</div>

    <div class="container_texto">O Scrum Master é um papel dentro do framework de gerenciamento de projetos ágeis Scrum.
        O principal objetivo do desse papel é garantir que o Scrum Team esteja trabalhando de forma eficaz e seguindo
        os princípios e práticas do Scrum.</div>

    <div class="container_imagem">
        <div class="imagem"><img src="/static/imagpaginas/Master (3).png" /></div>
        <div class="texto_img">
            <p><b>Algumas das principais funções do Scrum Master é:</b></p>
            <p>• Orientar e treinar a equipe Scrum na implementação do Scrum.• Proteger a equipe Scrum de distrações e
                interrupções externas.</p>
            <p>• Facilitar a comunicação e a colaboração entre os membros da equipe Scrum.</p><p>• Remover impedimentos que afetam o progresso da equipe Scrum.</p>
        </div>
    </div>
    <div class="container_texto">• Garantir que o Scrum seja implementado corretamente e que a equipe Scrum esteja
        seguindo os princípios do Scrum.</div>

    <div class="container_texto">Para exercer essa função algumas habilidades são necessárias para ser um bom Scrum
        Master. Dentre elas, você deve ser capaz de comunicar claramente com todos os membros da equipe, bem como com
        outras partes interessadas do projeto. Deve liderar a equipe Scrum e garantir que ela esteja trabalhando de
        forma eficaz conseguindo ser capaz de facilitar as reuniões Scrum, e como principal, ter um profundo
        conhecimento do framework Scrum estando sempre atualizado com as melhores práticas em Scrum.</div>

    <div class="container_imagem">
        <div class="imagem"><img src="/static/imagpaginas/Master.png" /></div>
        <div class="texto_img">
            <p><b>Algumas dicas para ser um bom Scrum Master incluem:</b></p>
            <p>• Esteja disponível para a equipe Scrum: o Scrum Master deve estar sempre disponível
                para a equipe Scrum e garantir que as suas necessidades sejam atendidas.</p>• Promova a transparência: o
            Scrum Master deve promover a transparência em todas as
            atividades da equipe Scrum e garantir que todos os membros da equipe estejam cientes do progresso do
            projeto.
        </div>
    </div>
    </div>

    <div class="container_texto">• Ajude a equipe Scrum a se auto-organizar: o Scrum Master deve ajudar a equipe Scrum a
        se auto-organizar e tomar decisões coletivas.</div>

    <div class="givemespace">
        <p>;</p>
        <p>;</p>
    </div>

    <div class="título">Exercícios</div>

</body>