<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
    <link rel="stylesheet" type= text/css href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <BASE TARGET="base">
</head>

<body>
    <div class="menu">
        <h4> <dt>Tópicos</dt></h4>  </div>        
        <ul class="nav nav-pills nav-stacked" role="tablist">
          <li><a href="./introdução.html">Introdução</a></li>
          <li><a href="./scrum.html">O que é Scrum?</a></li>
          <li><a href="./product.html">Product Owner</a></li>
          <li><a href="./master.html">Scrum Master</a></li>      
          <li><a href="./equipe.html">Equipe de Desenvolvimento</a></li> 
          <li><a href="./avaliações.html">Como lidar com avaliações?</a></li> 
          <li><a href="./ferramentas.html">Ferramentas</a></li> 
        </ul>
     </li>
</body>
</html>