{% extends "base.html" %}
{% block titulo %}Product Owner{% endblock %}
{% block conteudo %}

<div class="título">Product Owner</div>

<div class="container_imagem">
    <div class="imagem"><img src="../static/img_tópicos/Starting a business project-bro.png" /></div>
    <div class="texto_img"><p>O Product Owner (PO) é o representante do cliente. Seu objetivo é garantir que o produto seja
        entregue de forma eficiente, assegurando o valor do
        trabalho executado pelo Development Team (Equipe de Desenvolvimento).</p><p>Sua função é direcionar e gerenciar o projeto para atender as necessidades do cliente.</p></div>
</div>

<div class="container_texto">
    <div class="container_texto"><b>Entre as responsabilidades de um Product Owner estão:</b></div>
    <div class="container_texto">• Participar de forma ativa da estratégia e ter visão de longo prazo;</div>
    <div class="container_texto">• Medir constantemente o sucesso do produto;</div>
    <div class="container_texto">• Criar, comunicar e gerenciar os itens do Product Backlog, priorizando itens com base
        nas necessidades do cliente;</div>
    <div class="container_texto">• Apontar os problemas e melhorias no projeto;</div>
    <div class="container_texto">• Aprovar funcionalidades implementadas;</div>
    <div class="container_texto">• Definir os MVPs (produto mínimo viável);</div>
    <div class="container_texto">• Promover a comunicação do time e planejamento.</div>


    <div class="container_texto">O PO é um papel fundamental na equipe ágil, porém, ele não é considerado um líder
        de equipe no sentido tradicional da palavra. Na metodologia Scrum, a equipe é autogerenciada e colaborativa,
        e todos os membros trabalham juntos para atingir objetivos estabelecidos.</div>

    <p class="givemespace">.</p>
    <div class="container_imagem">

        <div class="texto_img_esquerda">
            <p><b>Como ser um bom Product Owner?</b></p><p>O mais importante é conhecer bem o produto que está
            sendo desenvolvido e o mercado em que ele será incluído. Desse modo, será possível tomar decisões mais
            informadas e orientar a
            equipe de desenvolvimento. Com a combinação certa de habilidades e conhecimentos, incluindo uma boa
            comunicação, organização e foco, o Product Owner ajuda a garantir o sucesso do produto e
            da equipe de desenvolvimento.</p>
        </div>
        <div class="imagem"><img src="../static/img_tópicos/Data extraction-amico.png" alt="align:right" /></div>
    </div>
</div>


<div class="título">Exercícios</div>

<div class="container_texto">
    <div id="quiz"></div>
    <button class="botton" id="submit">Resposta</button>
    <button class="botton" id="clear">Limpar</button>
    <div id="results" style="margin: 10px;"></div>
</div>

<script src="/static/js/quizPO.js" defer></script>

<p class="givemespace">.</p>
<p class="givemespace">.</p>
<hr>
<div class="fontes_do_site">
    <div class="alinhamento">
        <div class="conteudo_fonte" style="font-family:helvética;">O texto acima foi redigido com base nas informações retiradas de:
            <div><a><b>[1]</b> </a><a class="link_font" href="https://blog.unyleya.edu.br/bitbyte/product-owner/"
                    target="_blank" style="font-family:helvética;">Product owner: tudo o que você precisa saber sobre
                    essa
                    carreira</a>, Unyleya.</div>
            <div><a><b>[2]</b> </a><a class="link_font" href="https://artia.com/blog/product-owner/" target="_blank"
                    style="font-family:helvética;">Product Owner: entenda essa carreira e por que ela é uma das mais promissoras no momento</a>, artia.</div>
        </div>
    </div>
</div>
{% endblock %}