    {% extends "base.html" %}
    {% block titulo %}Product Owner{% endblock %}
    {% block conteudo %}

    <div class="título">Product Owner</div>

    <div class="container_imagem">
        <div class="imagem"><img src="../static/img_tópicos/product 01.png" /></div>
        <div class="texto_img">O PO é responsável por representar os interesses do cliente ou usuário final do produto.
            Seu objetivo é garantir que o produto seja entregue de forma eficiente, assegurando o valor do trabalho
            executado pelo Development Team (Equipe de Desenvolvimento).</div>
    </div>

    <div class="container_texto">
        <div class="container_texto"><b>Para alcançar esse objetivo, o Product Owner deve:</b></div>
        <div class="container_texto">• Definir a visão do produto e garantir que a equipe de desenvolvimento a
            compreenda e a siga;</div>
        <div class="container_texto">• Definir e priorizar os itens do backlog do produto com base nas necessidades do
            cliente e no valor que cada item agrega ao negócio;</div>
        <div class="container_texto">• Tomar decisões sobre o produto e as funcionalidades que serão desenvolvidas em cada Sprint;</div>


        <div class="container_texto">O PO é um papel fundamental na equipe ágil, porém, ele não é considerado um líder
            de equipe no sentido tradicional da palavra. Na metodologia Scrum, a equipe é autogerenciada e colaborativa,
            e todos os membros trabalham juntos para atingir objetivos estabelecidos.</div>

        <div class="container_imagem">
            
            <div class="texto_img"><p><b>Como eu posso ser um bom Product Owner?</b></p>O mais importante é conhecer bem o produto que está sendo desenvolvido e o
                mercado em que ele será incluído. Desse modo, será possível tomar decisões mais informadas e orientar a
                equipe de desenvolvimento. Com a combinação certa de habilidades e conhecimentos, incluindo uma boa
                comunicação, habilidades de priorização e foco, o Product Owner ajuda a garantir o sucesso do produto e
                da equipe de desenvolvimento. </div>
                <div class="imagem"><img src="../static/img_tópicos/product 02.png" alt = "align:right" /></div>
        </div>
        </div>

        
        <div class="título">Exercícios</div>
        
        <div class="container_texto"> <b>1. Quais das atividades abaixo são realizadas por um Product Owner?</b>
            <div class="container_texto"> a- Gerenciamento do backlog do produto, certificação do valor do trabalho executado e fornecimento de orientação à equipe de desenvolvimento.</div>
             <div class="container_texto">b- Criação de tarefas, decisão do que cada um na equipe precisa fazer e a priorização dos requisitos.</div>
             <div class="container_texto">c- Dar orientação, treinamento e socorro no trabalho da equipe de desenvolvimento.</div>
            <div class="container_texto">d- Projeto do software, priorização do backlog do produto e definição das necessidades do cliente.</div>
        </div>
    </div>

    <div class="container_texto"> <b>2. Qual dos papéis abaixo é de responsabilidade do PO?</b>
        <div class="container_texto"> a- Resolver desentendimentos no time.</div>
         <div class="container_texto">b- Monitorar cada membro da equipe de desenvolvimento.</div>
         <div class="container_texto">c- Representar os interesses e necessidades do cliente ou usuário final do produto.</div>
        <div class="container_texto">d- Liderar a equipe.</div>
        <br>
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"> Gabarito
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item">1.a</a></li>
              <li><a class="dropdown-item">2.c</a></li>
            </ul>
          </div>
    </div>
</div>
<br>
    {% endblock %}