<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCRUM</title>
    <link rel="stylesheet" type=text/css href="../static/stylepáginas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="título">O que é Scrum?</div>
    <div class="container_imagem">
        <div class="imagem"><img src="/static/work illustration.png" /></div>
        <div class="texto_img">O Scrum é um framework ágil utilizado para gerenciamento de projetos, que tem como
            objetivo fornecer uma estrutura para equipes desenvolverem e entregarem produtos de forma colaborativa. Ele
            foi desenvolvido por Jeff Sutherland e Ken Schwaber, no início dos anos 90, e se tornou amplamente utilizado
            em muitas organizações em todo o mundo. </div>
    </div>

        <div class="container_texto">O Scrum é baseado em sprints, que são períodos fixos de tempo (geralmente de duas a
        quatro semanas), nas quais a equipe se concentra em um conjunto de funcionalidades ou requisitos do produto.
        Durante uma sprint a equipe realiza uma reunião diária (daily scrum), na qual os membros compartilham o
        progresso, discutem os próximos passos e identificam impedimentos que precisam ser resolvidos. Ao final de cada
        sprint, a equipe realiza uma revisão da sprint, na qual apresenta o trabalho realizado e recebe feedback do
        Product Owner e de outras partes interessadas.</div>
    

    <div class="container_texto">Em seguida, a equipe realiza uma retrospectiva da sprint, na qual identifica o que
        funcionou bem e o que pode ser melhorado na próxima sprint. O Scrum é dividido por três papéis principais: o
        Product Owner, o Scrum Master e a equipe de desenvolvimento, ou Scrum Team.
        O trabalho é organizado no Backlog do Produto, que é uma lista de itens que precisam ser desenvolvidos para o
        produto. O Backlog é gerenciado pelo Product Owner, que prioriza os itens de acordo com o valor que a equipe
        adiciona ao produto. </div>


    <div class="container_texto">A equipe trabalha para finalizar o máximo de itens possíveis durante cada Sprint. O
        Scrum é projetado para ser flexível e adaptável, permitindo que as equipes ajustem o processo à medida que
        aprendem mais sobre o produto e as necessidades do cliente. Também, é amplamente utilizado em empresas de
        software e é uma das metodologias ágeis mais populares em todo o mundo.</div>


    <a href="#top"><img src="/static/seta1.png" alt="" align="right" width="40px" height="40px"></a>


    <div class="título">Exercícios</div>

    <div class="fundo_footer">
        <div class="alinhamento">
            <div class="conteudo_footer_titu2">📌 CONTEÚDO:</div>
            <div class="conteudo_footer2">- Introdução</div>
            <div class="conteudo_footer2">- Scrum</div>
            <div class="conteudo_footer2">- Product Owner</div>
            <div class="conteudo_footer2">- Scrum Master</div>
            <div class="conteudo_footer2">- Equipe de desenvolvimento</div>
            <div class="conteudo_footer2">- Como lidar com as avaliações?</div>
            <div class="conteudo_footer2">- Ferramentas de controle</div>
        </div>
        <div class="alinhamento">
            <div class="conteudo_footer_titu">PRECISA DE SUPORTE?</div>
            <div class="conteudo_footer">📧 e-mail: suporte_metacode@metacode.com</div>
            <div class="conteudo_footer">📞 Contato (capital): 0800 000 000</div>
            <div class="conteudo_footer">📞 Contato (interior): 0800 000 001</div>
        </div>
        <div class="alinhamento">
            <div class="conteudo_footer_titu">SIGA O PROJETO NO GITHUB:</div>
            <div class="qrcode_footer">
                <img src="/static/qr-code.png" width="140px" height="140px">
            </div>
        </div>
    </div>
</body>

</html>